@import "bootstrap";

@import "elements/form.css.scss";

@import "categories.css.scss";
@import "login.css.scss";
@import "products.css.scss";
@import "profile.css.scss";
@import "reviews.css.scss";

body {
  font-family: "Open Sans";
  padding-bottom: 1em;
}

.btn.glyphicon:before {
  margin-right: 10px;
  font-size: 12px;
}

.other-actions {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
}

#notice {
  @extend .alert, .alert-info;
}

#error,
#error_explanation {
  @extend .alert, .alert-danger;
}

.no-listing {
  @extend .alert, .alert-info;

  text-align: center;
}