%h1 Editing product

= render 'form'

.other-actions
  = link_to 'Show', category_product_path(category, product), class: "button-show"
  = link_to 'Back', category_path(category), class: "button-back"
